@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model websitebenhvien.Models.EnitityVM.Header_trangchu
 <div class="container-fluid shadow-sm "  id="header_trangchu" >
        <div class="w-100 d-flex justify-content-xxl-end justify-content-xl-center justify-content-md-start border-bottom border-2 border-secondary mb-2" >
                <ul class="menu-custom  d-flex flex-row list-unstyled m-0 p-0 w-50 " >
                   @if (Model.headers != null)
                   {
                      @foreach (var item in Model.headers)
                      {
                         @foreach (var a in item.titleheader)
                        {
                            <li class="nav-item pl-2" style="padding-right: 10px;">
                             <a class="nav-link d-none d-md-block text-break" href="@a.link"><i class="bi bi-question-circle-fill p-1"></i>@a.title</a>
                            </li>
                        }
                      }
                   }
                     <li class="nav-item dropdown"></li>
                        <a class="nav-link dropdown-toggle clo-text  " href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-translate pr-5"></i>Ngôn ngữ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown"  >
                            <li onclick="changeLanguage('vi')" ><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                            <li onclick="changeLanguage('en')"><a class="dropdown-item" href="#">English</a></li>
                            <li onclick="changeLanguage('zh-CN')"><a class="dropdown-item" href="#">China</a></li>
                            <li onclick="changeLanguage('ko')"><a class="dropdown-item" href="#">Korean</a></li>
                             <li onclick="changeLanguage('ja')"><a class="dropdown-item" href="#">Japan</a></li>
                        </ul>
                    </li>
                </ul> 
        </div>
        <div class="d-flex flex-column container-xl justify-content-center align-items-center" >
            <div class="row container-fluid d-flex align-items-center ">
                <div class="col-xl-2 col-lg-2 col-4" >
                @foreach (var a in @Model.headers)
                { 
                    <a href="/#">
                        <img src="/Uploads/@a.logo" alt="Logo" class="img-fluid">
                    </a>
                }
                </div>
          <div class="col-xl-5 col-lg-4 d-none d-lg-block d-hidden" id="search-bar" style=" visibility: hidden;">
                <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                <button id="search" class="btn btn-outline-bg-dark bg-danger" aria-label="Tìm kiếm">
                <i class="bi bi-search text-white"></i>
             </button>
              </form>
          </div>
          <div class="col-xl-4 col-md-3 col-8">
            @foreach (var a in Model.headers)
            {
              <div class="d-flex align-items-center justify-content-center bg-white rounded-2 shadow-lg-sm px-1 py-1 gap-2 mx-auto" id="hotline">
                <!-- Icon + label -->
                <div class="d-flex align-items-center gap-2">
                  <span style="color: #ec0707; display: flex; align-items: center; font-size: 1.3rem;">
                    <i class="bi bi-bus-front-fill" "></i>
                  </span>
                  <span class="fs-lg-3 fw-bold  fs-md-3 fs-sm-4" style="color: #212529;">CẤP CỨU 24/7:</span>
                </div>
                <!-- Phone -->
                <div class="d-flex align-items-center gap-1">
                  <span style="color: #ec0707; font-size: 1.3rem;">
                    <i class="bi bi-telephone-fill"></i>
                  </span>
                  <span class="fw-bold  fs-lg-4 fs-md-3 fs-sm-4" style="color: hsl(199, 65%, 51%); ">@a.telephone</span>
                </div>
                <!-- 115 -->
                <div class="d-flex align-items-center gap-1">
                  <span style="color: #ec0707; font-size: 1.3rem;">
                    <i class="bi bi-telephone-fill"></i>
                  </span> 
                  <span class="fw-bold fs-lg-4 fs-md-3 fs-sm-4" style="color: hsl(199, 65%, 51%); ">115</span>
                </div>
              </div>
            }
              </div>
            </div>

</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #fcfeff !important;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex  justify-content-xl-center justify-content-lg-center  justify-content-md-center ">
            @if (Model.menus != null)
            {
                @foreach (var menu in Model.menus.Where(m => m.Status == true).OrderBy(m => m.Order_menu))
                {
                      var hasSubMenu = menu.Menu?.Any() == true;
                      @if (!hasSubMenu)
                      {
                        <li class="nav-item">
                          <a class="nav-link" href="@menu.Link_menu">@menu.Title_menu</a>
                        </li>
                      }
                      else
                      {
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="@menu.Link_menu" id="menu@(menu.Id_menu)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @menu.Title_menu
                          </a>
                        <ul class="dropdown-menu" aria-labelledby="menu@(menu.Id_menu)" >
                            @foreach (var submenu in menu.Menu.OrderBy(sm => sm.Order_menu))
                            {
                                <li>
                                    <a class="dropdown-item" href="@submenu.Link_MenuChild" title="@submenu.Title_MenuChild">
                                        @submenu.Title_MenuChild
                                    </a>
                                </li>
                            }
                        </ul>

                        </li>
                      }  
                }
            }
      </ul>
    </div>
  </div>
</nav>
<div>
<style>
  #header_trangchu a{
    color: hsl(199, 65%, 51%) !important ;
  }
  header{
    position: sticky !important;
    top: 0 !important;
    z-index: 1050 !important;
    background-color: #fcfeff !important;


   
  }

 
  </style>